{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block main %}
<div id="map_canvas" style="position:absolute;bottom:0;top:0;left:0;right:0;"></div>
{% endblock %}
{% block last %}
<script id="site-dialog" type="text/x-jquery-tmpl">
    <div class="site-dialog modal">
        <h2>${name}</h2>
        <div class="content">
            <p></p>
            <ul class="tabs">
                <li><a href="#summary">Summary</a></li>
                <li><a href="#detail">Detail</a></li>
            </ul>
            <div class="panes">
                <div class="pane">
                    <div class="summary">Loading...</div>
                </div>
                <div class="pane">
                    <table class="weather data">
                        <thead>
                        <tr>
                            <th colspan="5">Observations</th>
                            <th colspan="5">Forecasts</th>
                        </tr>
                        <tr>
                            <th colspan="5">&nbsp;</th>
                            <th>Same day</th>
                            <th>1<sub>st</sub></th>
                            <th>2<sub>nd</sub></th>
                            <th>3<sub>rd</sub></th>
                            <th>4<sub>th</sub></th>
                        </tr>
                        <tr>
                            <th>Observation</th>
                            <th>Weather</th>
                            <th>Temperature</th>
                            <th>Wind</th>
                            <th>Pressure</th>
                            <th>Temp</th>
                            <th>Temp</th>
                            <th>Temp</th>
                            <th>Temp</th>
                            <th>Temp</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Loading...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
{% raw %}
<script id="site-observations-rows" type="text/x-jquery-tmpl">
    <tr>
        <td>${$item.format(observation_datetime)}</td>
        <td><img src="http://www.metoffice.gov.uk/public/pws/invent/lib/images/wxsymbols/w${weather_type}.png"/></td>
        <td>${temperature}&deg;C</td>
        <td>${wind_direction} ${wind_speed}mph</td>
        <td>${pressure}</td>
        <td>{{if best_forecasts[0]}}${best_forecasts[0].temperature}&deg;C{{/if}}</td>
        <td>{{if best_forecasts[1]}}${best_forecasts[1].temperature}&deg;C{{/if}}</td>
        <td>{{if best_forecasts[2]}}${best_forecasts[2].temperature}&deg;C{{/if}}</td>
        <td>{{if best_forecasts[3]}}${best_forecasts[3].temperature}&deg;C{{/if}}</td>
        <td>{{if best_forecasts[4]}}${best_forecasts[4].temperature}&deg;C{{/if}}</td>
    </tr>
</script>
<script id="site-summary" type="text/x-jquery-tmpl">
    <p>Latest weather ${$item.format(observation.observation_datetime)}</p>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th title="${$item.format(observation.observation_datetime)}">Latest</th>
                {{each(i,f) $item.forecasts(observation)}}
                    {{html $item.forecastHeader(f, i)}}
                {{/each}}
            </tr>
        </thead>
        <tbody>
        <tr>
            <th class="weather">Weather</th>
            <td width="145" class="observation weather"><img width="145" height="145" src="http://www.metoffice.gov.uk/public/pws/invent/lib/images/wxsymbols/w${observation.weather_type}BIG.gif"/></td>
            {{each $item.forecasts(observation)}}
            <td width="145" class="forecast forecast-${$index} weather">
                {{if $value.forecast_date != null}}
                    <img width="145" height="145" src="http://www.metoffice.gov.uk/public/pws/invent/lib/images/wxsymbols/w${$value.weather_type}BIG.gif"/>
                {{else}}
                    <a href="#missed-forecast-help" class="missed-forecast">missing</a>
                {{/if}}
            </td>
            {{/each}}
        </tr>
        <tr>
            <th>Temperature</th>
            <td class="observation temperature">
                ${$item.temperature(observation)}
            </td>
            {{each $item.forecasts(observation)}}
            <td class="forecast forecast-${$index} temperature">
                ${$item.temperature($value)}
            </td>
            {{/each}}
        </tr>
        <tr>
            <th>Wind</th>
            <td class="observation wind">
                ${$item.wind(observation)}
            </td>
            {{each $item.forecasts(observation)}}
            <td class="forecast forecast-${$index} wind">
                ${$item.wind($value)}
            </td>
            {{/each}}
        </tr>
        <tr>
            <th>Pressure</th>
            <td class="observation pressure">
                ${$item.pressure(observation)}
            </td>
            {{each $item.forecasts(observation)}}
            <td class="forecast forecast-${$index} pressure">
                ${$item.pressure($value)}
            </td>
            {{/each}}
        </tr>
        <tr>
            <th>Visibility</th>
            <td class="observation visibility">
                ${$item.visibility(observation)}
            </td>
            {{each $item.forecasts(observation)}}
            <td class="forecast forecast-${$index} visibility">
                ${$item.visibility($value)}
            </td>
            {{/each}}
        </tr>
        </tbody>
    </table>
</script>
{% endraw %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{versioned('/js/pages/index.js')}}"></script>
<script type="text/javascript">
    (function(){
        // on load initialisation
        $(function() {
            var myOptions = {
                zoom: 6,
                maxZoom:10,
                minZoom:4,
                center: new google.maps.LatLng(54.22, -2.2),
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.ROADMAP]
                },
                streetViewControl:false,
                disableDoubleClickZoom:true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
                    myOptions);

            $.getJSON('/sites',function(data){
                $.each(data,function(index, site){
                    var position = new google.maps.LatLng(site.location.lat,site.location.lon);
                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title:site.name
                    });
                    google.maps.event.addListener(marker,'click',function(){
                        showSiteDialog(site);
                    });
                });
            });
        });
    })();

</script>
{% endblock %}
